<h2>Por Region</h2>

<hr>

<div class="row">

  <div class="col text-center">

    <!--Search Box-->

     <!-- (onValue)="searchByCapital($event)" -->
     <button class="btn mx-2" *ngFor="let region of regions"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region}"
      (click) = "searchByRegion(region)"
      >
        {{ region }}
     </button>



  </div>

</div>

<h4 class="text-center">Countries of: {{selectedRegion || 'No Selected' }} </h4>


<div class="row">

  <div class="col">

    <hr>

    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>



    <countries-table [countries]="countries"></countries-table>

  </div>

</div>
